.Head {
    margin-top: 100px;
    padding: 0 40px 40px 0;
    display: flex;
    justify-content: space-evenly;
}

.IndividualConfirmed {
    text-transform: uppercase;
    background-color: rgba(255, 0, 0, 0.1);
    border-radius: 20px;
    padding: 18px 25px;
}

.IndividualActive {
    text-transform: uppercase;
    background-color: rgba(0, 0, 255, 0.1);
    border-radius: 20px;
    padding: 18px 25px;
}

.IndividualRecovered {
    text-transform: uppercase;
    background-color: rgba(0, 128, 0, 0.1);
    border-radius: 20px;
    padding: 18px 25px;
}

.IndividualDeath {
    text-transform: uppercase;
    background-color: rgba(128, 128, 128, 0.1);
    border-radius: 20px;
    padding: 26px 33px;
}

.Confirmed {
    text-align: left;
    color: rgba(114, 24, 23, 0.5);
    margin-bottom: -2px;
    font-size: 15px;
}

.ConfirmedData {
    color: #721817;
    font-size: 45px;
    font-weight: bold;
}

.Active {
    text-align: left;
    color: rgba(43, 65, 98, 0.5);
    margin-bottom: -2px;
    font-size: 15px;
}

.ActiveData {
    color: #2B4162;
    font-size: 45px;
    font-weight: bold;
}

.Recovered {
    text-align: left;
    color: rgba(11, 110, 79, 0.5);
    margin-bottom: -2px;
    font-size: 15px;
}

.RecoveredData {
    color: #0B6E4F;
    font-size: 45px;
    font-weight: bold;
}

.Death {
    text-align: left;
    color: rgba(158, 158, 161, 0.5);
    margin-bottom: -2px;
    font-size: 15px;
}

.DeathData {
    color: #9E9EA1;
    font-size: 45px;
    font-weight: bold;
}
