.Head {
    margin-top: 100px;
    padding: 0 40px 40px 0;
}

.List {
    display: flex;
}

.List li {
    font-size: 35px;
    margin: 40px;
    list-style: none;
    text-transform: uppercase;
}

.Confirmed {
    color: rgba(114, 24, 23, 0.5);
}

.ConfirmedData {
    color: #721817;
    font-weight: bold;
}

.Active {
    color: rgba(43, 65, 98, 0.5);
}

.ActiveData {
    color: #2B4162;
    font-weight: bold;
}

.Recovered {
    color: rgba(11, 110, 79, 0.5);
}

.RecoveredData {
    color: #0B6E4F;
    font-weight: bold;
}

.Death {
    color: rgba(224, 224, 226, 0.5);
}

.DeathData {
    color: #E0E0E2;
    font-weight: bold;
}
