.Navigation {
    margin: -20px;
    background-color: #FA9F42;
    width: 101vw;
}

.Nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.LeftNavi {
    display: flex;
}

.LeftNavi li {
    padding-top: 10px;
    list-style: none;
    margin: 20px;
    font-size: 20px;
}

.LeftNavi li a{
    text-decoration: none;
    transition: all .2s;
    color: black;
}

.LeftNavi li a:hover {
    color: red;
}

.RightNavi {
    display: flex;
}

.RightNavi li {
    padding-top: 10px;
    list-style: none;
    margin: 20px;
    font-size: 20px;
}

.RightNavi li a{
    text-decoration: none;
    transition: all .2s;
    color: black;
}

.RightNavi li a:hover {
    color: red;
}
