.Navi {
    margin-top: -30px;
}

.LeftNavi {
    display: flex;
    float: left;
}

.RightNavi {
    display: flex;
    float: right;
    margin-right: 70px;
}

.Navi li {
    margin: 20px;
    list-style: none;
    padding: 10px;
    border: 2px solid transparent;
}

.Navi li :hover {
    padding: 10px;
    margin: -12px;
    border: 2px solid gray;
    border-radius: 10px;
    box-shadow: 0 0 10px 3px #d5d5d5;
}

.Tag {
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    color: black;
}
