.Navigation {
    margin: -1.25rem;
    background-color: #FA9F42;
    width: 117.172rem;
}

.Nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.LeftNavi {
    display: flex;
}

.LeftNavi li {
    padding-top: 0.625rem;
    list-style: none;
    margin: 0.9375rem;
    font-size: 1.25rem;
}

.LeftNavi li a{
    text-decoration: none;
    transition: all .2s;
    color: #721817;
    font-weight: bold;
}

.LeftNavi li a:hover {
    color: #0B6E4F;
}

.RightNavi {
    display: flex;
    padding-right: 1.25rem;
}

.RightNavi li {
    padding-top: 0.625rem;
    list-style: none;
    margin: 0.9375rem;
    font-size: 1.25rem;
}

.RightNavi li a{
    text-decoration: none;
    transition: all .2s;
    color: #721817;
    font-weight: bold;
}

.RightNavi li a:hover {
    color:#0B6E4F;
}
