body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}

/*

Persian Plum (red) : #721817
Deep Saffron (yellow) : #FA9F42
Indigo Dye (blue) : #2B4162
Bottle Green (green) : #0B6E4F
gray                : #9E9EA1
Gainsboro (gray) : #E0E0E2

*/
