.All {
    margin-top: 1.25rem;
}

.Covid1 {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    position: absolute;
    top: 9.375rem;
    left: 4.375rem;
    width: 4%;
}

.HandSoap1 {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    position: absolute;
    top: 13.75rem;
    left: 18.75rem;
    width: 4%;
}

.HandWash1 {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    position: absolute;
    top: 6.25rem;
    left: 31.25rem;
    width: 4%;
}

.HandShake1 {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    position: absolute;
    top: 6.25rem;
    left: 109.375rem;
    width: 4%;
}

.Mask1 {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    position: absolute;
    top: 12.5rem;
    left: 78.125rem;
    width: 4%;
}

.Covid2 {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    position: absolute;
    top: 25rem;
    left: 100rem;
    width: 4%;
}

.HandSoap2 {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    position: absolute;
    top: 37.5rem;
    left: 109.375rem;
    width: 4%;
}

.HandWash2 {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    position: absolute;
    top: 6.25rem;
    left: 93.75rem;
    width: 4%;
}

.HandShake2 {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    position: absolute;
    top: 21.875rem;
    left: 1.25rem;
    width: 4%;
}

.Mask2 {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    position: absolute;
    top: 34.375rem;
    left: 6.25rem;
    width: 4%;
}

.HandWash3 {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    position: absolute;
    top: 46.875rem;
    left: 7.5rem;
    width: 4%;
}

.Mask3 {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    position: absolute;
    top: 43.75rem;
    left: 103.125rem;
    width: 4%;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }
}
