.All {
    margin-top: 1.25rem;
}

.Covid1 {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    float: left;
    margin-left: 4rem;
    width: 4%;
}

.HandSoap1 {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    float: left;
    margin-top: 8rem;
    margin-left: 8rem;
    width: 4%;
}

.HandWash1 {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    float: left;
    margin-top: 4rem;
    margin-left: 20rem;
    width: 4%;
}

.HandShake1 {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    float: right;
    margin-top: 4rem;
    margin-right: 4rem;
    width: 4%;
}

.Mask1 {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    float: right;
    margin-top: 8rem;
    margin-right: 20rem;
    width: 4%;
}

.Covid2 {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    float: right;
    margin-top: 15rem;
    margin-right: -20rem;
    width: 4%;
}

.HandSoap2 {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    float: right;
    margin-top: 33rem;
    margin-right: -20rem;
    width: 4%;
}

.HandWash2 {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    float: right;
    margin-right: -18rem;
    width: 4%;
}

.HandShake2 {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    float: left;
    margin-top: 18rem;
    margin-left: -45rem;
    width: 4%;
}

.Mask2 {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    float: left;
    margin-top: 30rem;
    margin-left: -35rem;
    width: 4%;
}

.HandWash3 {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    float: left;
    margin-top: 40rem;
    margin-left: -40rem;
    width: 4%;
}

.Mask3 {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    float: right;
    margin-top: 45rem;
    margin-right: -30rem;
    width: 4%;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }
}
